body{
    background: url("imggeek/logogeekg.png") center center repeat-y, linear-gradient(to right, rgb(255, 0, 0),rgb(251, 255, 0));
    background-size: auto; 
    background-blend-mode: overlay;
    background-position: center;
    margin: 0;
    padding: 0;
    display: block;
}
#logobg{
    width: center;
    height: center;
    text-align: center;
    text-size-adjust: auto;
}
h1{
    position: relative;
    margin-bottom: 5px ;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 50px;
    text-align: center;
    text-shadow: 1px 1px rgb(255, 0, 0);
    text-size-adjust: auto;
    color: rgb(0, 0, 0);
}
h2{
    position: relative;
    margin-bottom: 15px ;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px rgb(0, 4 , 255);
    text-size-adjust: auto;
    color: rgb(0, 0, 0);
}
p{
    position: relative;
    margin-bottom: 15px ;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 30px;
    text-align: start;
    text-shadow: 1px 1px rgb(255, 0, 0);
    text-size-adjust: auto;
    color: rgb(0, 0, 0);
}
strong{
    color: black;
    text-shadow: 1px 1px rgb(0, 4, 255);
    text-size-adjust: auto;
}
#eventogeek{
    position: relative;
    text-align: center;
    width: center;
    height: center;
}
a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  .previous {
    background-color: #5f0000;
    color: rgb(255, 255, 255);
    margin-left: 15cm;
    margin-right: 15cm;
    text-align: center;
    align-items: center;
    display: block;
  }
  
  .next {
    background-color: #5f0000;
    color: white;
    margin-left: 15cm;
    margin-right: 15cm;
    text-align: center;
    align-items: center;
    display: block;
    
  }
  header{
    padding: 25px;
    font-size: 20px;
    background-color: rgb(177, 0, 0);
    position: relative;
    text-align: center;
}
footer{
    text-align: center;
    background-color: #af7200;
    word-spacing: normal;
    margin-bottom: -5px;
    padding: 15px;
    font-size: 12px;
}