body{
    background: url("imggeek/logogeekg.png") center center repeat-y, linear-gradient( to left, rgb(14, 0, 139),rgb(0, 0, 0));
    background-size: auto; 
    background-blend-mode: overlay;
    background-position: center;
    margin: 0;
    padding: 0;
    display: block;
}
#logobg{
    width: center;
    height: center;
    text-align: center;
    text-size-adjust: auto;
}
h1{
    color: rgb(185, 20, 250);
    position: relative;
    margin-bottom: 5px ;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
    text-shadow: 1px 1px rgb(0, 4, 252);
    text-size-adjust: auto;
}
p{
    color: rgb(255, 255, 255);
    position: relative;
    margin-bottom: 15px ;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 30px;
    text-align: start;
    text-shadow: 1px 1px rgb(0, 110, 255);
    text-size-adjust: auto;;
}
h2{
    position: relative;
    margin-bottom: 15px ;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px rgb(231, 0, 252);
    text-size-adjust: auto;
    color: rgb(123, 0, 180);
}
strong{
    color: black;
    text-shadow: 1px 1px rgb(0, 4, 255);
    text-size-adjust: auto;
}
#eventogeek{
    position: relative;
    text-align: center;
    width: auto;
    height: auto;
}
a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  .previous {
    background-color: #34005f;
    color: rgb(255, 255, 255);
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    align-items: center;
    display: block;
  }
  
  .next {
    min-width: 50px;
    background-color: #34005f;
    color: white;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    align-items: center;
    display: block;
    
  }
  header{
    padding: 25px;
    font-size: 20px;
    background-color: rgb(88, 0, 84);
    position: relative;
    text-align: center;
}
footer{
    text-align: center;
    background-color: rgb(36, 0, 34);
    word-spacing: normal;
    margin-bottom: -5px;
    padding: 15px;
    font-size: 12px;
}
@media only screen and (min-width: 300px) and (max-width: 800px) {
    body{
        min-width: 100%;
        min-width: 100%;
        max-width: 100vw;
        max-height: 100vw;
    }
    h1{
        min-width: fit-content;
        text-align: center;
    }
    h2{
        min-width: fit-content;
        text-align: center;
    }
    p{
        min-width: fit-content;
        text-align: center;
    }
    main{
        min-width: fit-content;
        min-height: fit-content;
    }
    #eventogeek{
        display: none;
        visibility: hidden;
    }
    .next{
        text-align: center;
        align-items: center;
        min-width: max-content;
    }
    .previous{
        padding-right: 18px;
        padding-left: 18px;
        text-align: center;
        align-items: center;
        min-width: max-content;
    }
    header{
        min-width: fit-content;
    }
    footer{
        min-width: fit-content;
    }
    a:hover {
        display: none;
        visibility: hidden;
    }
}