body{
    background: url("imggeek/logogeekg.png") center center repeat-y, linear-gradient(to bottom, rgb(0, 255, 64),rgb(0, 204, 255));
    background-size: auto; 
    background-blend-mode: overlay;
    background-position: center;
    margin: 0;
    padding: 0;
    display: block;
}
#logobg{
    width: center;
    height: center;
    text-align: center;
    text-size-adjust: auto;
}
header{
    font-size: 20px;
    padding: 25px;
    background-color: rgb(22, 112, 0);
    position: relative;
    text-align: center;
}
footer{
    text-align: center;
    background-color: rgb(0, 155, 155);
    word-spacing: normal;
    margin-bottom: -5px;
    padding: 15px;
    font-size: 12px;
}
a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}
h1{
    position: relative;
    margin-bottom: 5px ;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
    text-shadow: 1px 1px rgb(255, 0, 0);
    text-size-adjust: auto;
    color: rgb(0, 0, 0);
}
h2{
    position: relative;
    margin-bottom: 15px ;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px rgb(255, 0, 0);
    text-size-adjust: auto;
    color: rgb(0, 0, 0);
}
p{
    position: relative;
    margin-bottom: 15px ;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 30px;
    text-align: start;
    text-shadow: 1px 1px rgb(0, 116, 248);
    text-size-adjust: auto;
    color: rgb(0, 0, 0);
}
.previous {
    background-color: #004741;
    color: rgb(255, 255, 255);
    min-width: 50px;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    align-items: center;
    display: block;
  }
  
  .next {
    background-color: #004741;
    color: white;
    min-width: 50px;
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    align-items: center;
    display: block;
  }
  em {
      position: center;
      text-align: justify;
      font-size: 35px;
  }
@media only screen and (max-width: 500px) {
    body{
        min-width: 100%;
        max-width: 100vw;
    }
    h1{
        min-width: fit-content;
        text-align: center;
    }
    h2{
        min-width: fit-content;
        text-align: center;
    }
    p{
        min-width: fit-content;
        text-align: center;
    }
    main{
        min-width: fit-content;
        min-height: fit-content;
    }
    #logobg{
        display: none;
        visibility: hidden;
    }
    .next{
        text-align: center;
        align-items: center;
        min-width: max-content;
    }
    .previous{
        padding-right: 17px;
        padding-left: 18px;
        text-align: center;
        align-items: center;
        min-width: max-content;
    }
    header{
        max-width: max-content;
        min-width: fit-content;
    }
    footer{
        min-width: fit-content;
    }
}