body{
    background: url("imggeek/logogeekg.png") center center repeat-y, linear-gradient(to top,rgb(0, 195, 255),rgb(75, 0, 250));
    background-size: auto; 
    background-blend-mode: overlay;
    background-position: center;
    margin: 0;
    padding: 0;
    display: block;
}
#logobg{
    width: center;
    text-align: center;
    text-size-adjust: auto;
}
header{
    padding: 25px;
    background-color: rgb(16, 0, 158);
    position: relative;
    text-align: center;
    font-size: 20px;
}
footer{
    text-align: center;
    background-color: rgb(0, 70, 70);
    word-spacing: normal;
    margin-bottom: -5px;
    padding: 15px;
    font-size: 12px;
}
a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
  }
  
  .previous {
    background-color: #004b55;
    color: rgb(255, 255, 255);
    margin-left: 40%;
    margin-right: 40%;
    text-align: center;
    align-items: center;
    display: block;
  }
  h1{
    color: rgb(0, 5, 75);
    position: relative;
    margin-bottom: 5px ;
    margin-right: 15px;
    margin-left: 15px;
    text-align: center;
    text-shadow: 1px 1px rgb(69, 156, 255);
    text-size-adjust: auto;
}
p{
    color: rgb(0, 3, 46);
    position: relative;
    margin-bottom: 15px ;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 30px;
    text-align: start;
    text-shadow: 1px 1px rgb(69, 156, 255);
    text-size-adjust: auto;;
}
strong{
    text-shadow: 1px 1px red;
}
@media only screen and (max-width: 500px) {
    body{
        min-width: 100%;
        max-width: 100vw;
    }
    h1{
        min-width: fit-content;
        text-align: center;
    }
    p{
        min-width: fit-content;
        text-align: center;
    }
    main{
        max-width: fit-content;
        max-height: fit-content;
    }
    #logobg{
        display: none;
        visibility: hidden;
    }
    .previous{
        text-align: center;
        align-items: center;
        min-width: fit-content;
    }
    header{
        text-align: center;
        min-width: fit-content;
    }
    footer{
        min-width: fit-content;
    }
}