body{
    background: url("imggeek/logogeekg.png") center center repeat-y, linear-gradient(to right, rgb(255, 0, 0),rgb(251, 255, 0));
    background-size: auto; 
    background-blend-mode: overlay;
    background-position: center;
}
#logobg{
    width: center;
    height: center;
    text-align: center;
    text-size-adjust: auto;
}
h1{
    position: relative;
    margin-bottom: 5px ;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 50px;
    text-align: center;
    text-shadow: 1px 1px rgb(255, 0, 0);
    text-size-adjust: auto;
    color: rgb(0, 0, 0);
}
h2{
    position: relative;
    margin-bottom: 15px ;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 40px;
    text-align: center;
    text-shadow: 1px 1px rgb(0, 4 , 255);
    text-size-adjust: auto;
    color: rgb(0, 0, 0);
}
p{
    position: relative;
    margin-bottom: 15px ;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 30px;
    text-align: start;
    text-shadow: 1px 1px rgb(255, 0, 0);
    text-size-adjust: auto;
    color: rgb(0, 0, 0);
}
strong{
    color: black;
    text-shadow: 1px 1px rgb(0, 4, 255);
    text-size-adjust: auto;
}
#eventogeek{
    position: relative;
    text-align: center;
    width: center;
    height: center;
}
a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  
  a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .previous {
    background-color: #5f0000;
    color: rgb(255, 255, 255);
    position: relative;
    text-align: center;
    left: 40%;
    right: 40%;
  }
  
  .next {
    background-color: #5f0000;
    color: white;
    position: relative;
    text-align: center;
    left: 40%;
    right: 40%;
  }
  
  .round {
    border-radius: 50%;
  }
  header{
    background-color: aqua;
    position: relative;
    text-align: center;
}